* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff5f8;
  color: #333;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #ffb6c1;
}

.nav-links a.active {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Section */
.section {
  padding: 80px 40px;
  text-align: center;
}

.about-content {
  max-width: 800px;
  margin: 30px auto 0;
}

.about-content p {
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.8;
  color: #444;
}

.home {
  height: 80vh;
  display: flex;
  align-items: center;
  padding-left: 80px;
  background-color: #fff5f8;
}

.home-content {
  max-width: 600px;
}

.hero-text {
  max-width: 600px;
}

.first-name {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.last-name {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-left: 30px; /* bikin agak masuk ke kanan */
  color: #555;
}

.student-id {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #888;
}

.role {
  margin-top: 25px;
  font-size: 16px;
  color: #555;
  line-height: 1.7;
}

.name {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
}

.role {
  margin-top: 15px;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.pink {
  background-color: #ffe4ec;
}

/* Skills */
.skills-desc {
  max-width: 650px;
  margin: 20px auto;
  line-height: 1.8;
  color: #444;
  text-align: left;
}

/* Projects */
.project-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.project-card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(255, 182, 193, 0.4);
}

/* Contact */
.contact-container {
  display: flex;
  flex-direction: column; /* bikin vertikal */
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #ffb6c1;
}

.contact-info {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.contact-btn {
  background-color: white;
  color: #ff69b4;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #ffb6c1;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: #ffb6c1;
  color: white;
}
